@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

$cgHeaderColor: (
  '1': $linear-light-blue,
  '2': $linear-light-yellow,
  '3': $linear-blue,
  '4': $linear-purple,
);

.header {
  background: #000;
  color: #fff;
  z-index: 10;
  position: fixed;
  width: 100%;

  .wrapper {
    margin: 0 auto;
    padding: 0 1.875rem;
    position: relative;
    @include breakpoint(lg) {
      padding-left: 0;
      max-width: 73.75rem;
    }
    .headerContainer {
      display: flex;
      align-items: center;
      position: relative;
      .logoMobile {
        display: none;
      }
      .logo {
        max-width: 120px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        top: 12px;
        position: absolute;
        @include breakpoint(sm) {
          max-width: 100px;
          margin: initial;
        }
        @include breakpoint(md) {
          max-width: 120px;
        }
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .navigator {
        width: 100%;
        .mainMenu {
          padding-left: 120px;
          margin-bottom: 0;
          @include breakpoint(sm) {
            padding-left: 100px;
          }
          @include breakpoint(md) {
            padding-left: 120px;
          }
        }
        .menuItem {
          display: inline-block;
          a {
            color: #fff;
            font-size: 10px;
            letter-spacing: 1px;
            line-height: 13px;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            margin: 0 5px;
            padding-bottom: 16px;
            padding-top: 16px;
            cursor: pointer;
            @include breakpoint(1024px) {
              padding: 0 10px;
              margin: 0 10px;
              padding-bottom: 16px;
              padding-top: 16px;
            }
            &::before {
              content: '';
              height: 4px;
              position: absolute;
              margin: 0 auto;
              bottom: 0;
              left: 0;
              width: 0;
              transition: width 0.5s;
            }
          }
          &.color_0 {
            > a {
              &::before {
                background: #fff;
              }
            }
          }
          @for $i from 1 to 5 {
            &.color_#{$i} {
              > a::before {
                background: map-get($map: $cgHeaderColor, $key: '#{$i}');
              }
            }
          }

          &.actived {
            > a {
              font-weight: 600 !important;
              &::before {
                width: 100%;
              }
            }
          }
        }
      }

      .buttonBuy {
        display: block;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        border-radius: 30px;
        font-weight: 400;
        font-size: 0.7rem;
        background: $linear-light-yellow;
        border: 1px solid #d9a600;
        color: #fff;
        outline: none;

        @include breakpoint(sm) {
          width: 130px !important;
          margin: 5px 10px;
          margin-bottom: 5px !important;
          height: auto !important;
          padding: 0.5rem 0.75rem !important;
        }

        &:hover {
          background: #daa909;
          background: linear-light-yellow;
          border: 1px solid #daa909;
        }
      }
      .searchAndSocial {
        width: 130px;
        display: flex;
        .searchIcon,
        .socicalIcon {
          margin: 0 10px;
        }
      }

      .closeButton {
        font-size: 25px;
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
      }

      .headerSearchWrapper,
      .headerSocialWrapper {
        background-color: #000;
        width: 100%;
        position: fixed;
        display: none;
        margin: 0 auto;
        top: 0;
        left: 0;
        &.actived {
          height: 49px;
          display: block;
        }
      }
      .headerSearchForm {
        display: block;
        width: 600px;
        margin: 0 auto;
        position: relative;

        form {
          width: 500px;
          overflow: hidden;
          position: relative;
          margin: 8px auto;
          background: #fff;
          z-index: 99;
          border-radius: 0 10px;
          padding: 2px 10px;
          input {
            width: 440px;
            line-height: 22px;
            padding-left: 10px;
            border: none;
            outline: none;
          }
          button {
            font-size: 18px;
            line-height: 22px;
            padding: 2px 5px;
            background: 0 0;
            border: none;
            outline: none;
          }
        }
        .closeButton {
          line-height: 34px;
        }
      }
      .headerSocial {
        display: block;
        text-align: center;
        width: 600px;
        margin: 0 auto;
        position: relative;
        ul {
          margin-bottom: 0;
          li {
            display: inline;
            text-align: center;
            position: relative;
            transition: all 0.3s ease-in;
            cursor: default;
            a {
              color: #fff;
              font-size: 24px;
              line-height: 49px;
              margin: 0 10px;
            }
            .tooltip {
              visibility: hidden;
              z-index: 1;
              opacity: 0;
              width: 120px;
              height: 120px;
              background: #fff;
              position: absolute;
              left: 50%;
              margin-left: -60px;
              border: 5px solid #000;
              border-radius: 3px;
              transform: translateY(-5px);
              transition: all 0.3s ease-in;
            }
            &:hover {
              a {
                color: #fac161;
              }
              .tooltip {
                visibility: visible;
                opacity: 1;
              }
            }
          }
        }
        .closeButton {
          line-height: 49px;
        }
      }
    }
  }

  @include breakpoint(mobile) {
    padding-top: 2.125rem;
    .wrapper {
      .headerContainer {
        display: block;
        .logo {
          display: none;
        }
        .logoMobile {
          display: block;
          position: fixed;
          left: 15px;
          top: 0;
          z-index: 9;
          cursor: pointer;
          color: #fff;
          &::before {
            content: '';
            height: 27px;
            width: 4px;
            position: absolute;
            left: -15px;
            top: 50%;
            transform: translateY(-50%);
          }
          span {
            font-size: 24px;
            font-weight: 900;
            letter-spacing: 1px;
            line-height: 49px;
            position: relative;
            &::before {
              content: '';
              width: 0;
              height: 0;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              right: -15px;
              border-top: 5px solid #fff;
              position: absolute;
              top: 50%;
              transform: translateY(-40%);
            }
          }
        }
        .navigator {
          margin-top: 15px;
          .mainMenu {
            height: 0;
            .menuItem {
              > a {
                display: none;
              }
            }
          }
        }
        .buttonBuy {
          width: 60%;
          padding: 0.7rem 1rem;
          margin: 5px auto;
          margin-bottom: 20px;
        }
        .headerSocial {
          text-align: left;
        }
        .searchAndSocial {
          display: block;
          width: auto;
          .socicalIcon {
            display: none;
          }
          .searchIcon {
            display: block;
            position: fixed;
            right: 70px;
            top: 13px;
            color: #fff;
            margin: 0;
          }
        }
        .languagesSelectionCustom {
          position: absolute;
          top: -40px;
          right: -24px;
        }
      }
    }
    &.actived {
      .wrapper {
        padding-bottom: 80px;
        .headerContainer {
          .logoMobile {
            span {
              &::before {
                border-top: none;
                border-bottom: 5px solid #fff;
              }
            }
          }
          .navigator {
            padding-top: 110px;
            width: 100%;
            margin-bottom: 40px;
            .mainMenu {
              height: auto;
              padding-left: 0;
              .menuItem {
                display: block;
                margin: 0;
                background-color: transparent !important;
                position: relative;
                padding-bottom: 0;
                a {
                  display: block;
                  color: #fff;
                  font-size: 16px;
                  font-weight: 300;
                  text-align: left;
                  padding: 15px 33px 15px 45px;
                  letter-spacing: 1.6px;
                  line-height: 19px;
                  margin: 0;
                  &::before {
                    width: 2px !important;
                    top: 50%;
                    height: 15px;
                    left: 30px;
                    z-index: -1;
                    transform: translateY(-50%);
                  }
                }
              }
            }
          }
          .searchAndSocial {
            display: none;
          }
          .closeButton {
            display: none;
          }
          .headerSearchWrapper {
            display: block;
            position: absolute;
            top: 30px;
            left: 50%;
            height: 40px;
            width: calc(100% - 30px);
            transform: translateX(-50%);
            background: transparent;
            .headerSearchForm {
              width: 100%;
              height: 40px;
              form {
                background: rgba(255, 255, 255, 0.2);
                height: 100%;
                margin: 0 auto;
                width: auto;
                input {
                  width: calc(100% - 40px);
                  background: transparent;
                  font-size: 12px;
                  color: #fff;
                  outline: none;
                  height: 100%;
                }
                button {
                  outline: none;
                  svg {
                    fill: #fff;
                  }
                }
              }
            }
          }
          .headerSocialWrapper {
            position: absolute;
            top: 101%;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 100%;
            background: transparent;

            .headerSocial {
              ul {
                padding-left: 0;
                li {
                  a {
                    font-size: 20px;
                    padding: 0 15px;
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
    @for $i from 1 to 5 {
      &.color_#{$i} {
        .headerContainer {
          .logoMobile::before {
            background: map-get($map: $cgHeaderColor, $key: #{$i});
          }
        }
        &.actived {
          background: map-get($map: $cgHeaderColor, $key: #{$i});
          .headerContainer {
            .logoMobile::before {
              background: transparent;
            }
          }
        }
      }
    }
  }
}
