.header {
  background: #000;
  color: #fff;
  z-index: 10;
  position: fixed;
  width: 100%;

  .wrapper {
    margin: 0 auto;
    padding: 0;
    max-width: 73.75rem;

    .headerContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .leftContent {
        .logo {
          max-width: 120px;
          width: 100%;
          margin: 0 auto;
          text-align: center;
        }
      }

      .rightContent {
      }
    }
  }
}
