.header {
  background: #000;
  color: #fff;
  z-index: 10;
  position: fixed;
  width: 100%;

  .wrapper {
    margin: 0 auto;
    padding: 0;
    max-width: 73.75rem;

    .headerContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .leftContent {
        display: flex;

        .logo {
          max-width: 120px;
          width: 100%;
          margin: 0 auto;
          text-align: center;
          @media screen and (min-width: 769px) {
            margin: initial;
            max-width: 120px;
          }
        }

        .headerMenu {
          display: flex;
          align-items: center;
          padding-top: 18px;
          padding-bottom: 18px;
          .a {
            font-weight: 400;

            color: #fff;
            font-size: 10px;
            letter-spacing: 1px;
            line-height: 13px;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            padding: 0 10px;
            margin: 0 10px;
            display: inline-block;
            cursor: pointer;
          }
        }
      }

      .rightContent {
        display: flex;
        align-items: center;

        .buttonBuy {
          cursor: pointer;
          display: block;
          width: 60%;
          text-align: center;
          padding: 0.7rem 1rem;
          text-transform: uppercase;
          border-radius: 30px;
          font-weight: 400;
          font-size: 0.7rem;
          margin: 5px auto;
          margin-bottom: 20px;
          background: #d9a600;
          background: -moz-linear-gradient(45deg, #feb645 0, #eab300 100%);
          background: -webkit-linear-gradient(45deg, #feb645 0, #eab300 100%);
          background: -o-linear-gradient(45deg, #feb645 0, #eab300 100%);
          background: linear-gradient(45deg, #feb645 0, #eab300 100%);
          border: 1px solid #d9a600;
          color: #fff;

          @media (min-width: 768px) {
            width: 100px !important;
            margin-bottom: 5px !important;
            margin-left: 10px;
            margin-right: 10px;
            height: auto !important;
          }

          &:hover {
            background: #daa909;
            background: -moz-linear-gradient(45deg, #daa909 0, #ffc517 100%);
            background: -webkit-linear-gradient(45deg, #daa909 0, #ffc517 100%);
            background: -o-linear-gradient(45deg, #daa909 0, #ffc517 100%);
            background: linear-gradient(45deg, #daa909 0, #ffc517 100%);
            border: 1px solid #daa909;
          }
        }

        .iconContainer {
          margin: 0 10px;
          font-size: 1rem;
        }
      }
    }
  }
}
