@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.fullWidthHeader {
  background: $linear-light-blue;
  @include breakpoint(sm) {
    padding-top: 30px;
  }
  p {
    margin-bottom: 2rem;
  }
}
