.ddWrapper {
  user-select: none;
  position: relative;

  .ddHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 38px;

    border-radius: 3px;
    cursor: default;
    position: relative;
    // background-color: white;

    span {
      margin-right: 20px;
    }

    .ddHeaderTitle {
      font-weight: 300;
      margin-top: 2px;
      margin-bottom: 2px;
      margin-left: 30px;
      margin-right: 5px;
    }

    .angleDown {
      margin-right: 20px;
    }
  }

  .ddList {
    z-index: 10;
    position: absolute;
    width: 100%;
    border: 1px solid rgb(223, 223, 223);
    border-top: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: white;
    box-shadow: 0 2px 5px -1px rgb(232, 232, 232);
    font-weight: 700;
    padding: 15px 0;
    max-height: 215px;
    list-style-type: none;
  }

  .ddListItem {
    width: 100%;
    line-height: 1.6rem;
    cursor: pointer;
    text-align: center;

    &:hover {
      color: white;
      background-color: #ffcc01;
    }
  }
}
