.newLetterForm {
  .halfSize {
    width: 50%;
    float: left;
    padding: 0 5px 0 0;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    line-height: normal;
    font-size: 0.9rem;
    border: 1px solid #eee;
    border-radius: 1.125rem;
    background-color: #eee;
    color: #000;
    min-height: 2.25rem;
    padding: 0.3125rem 1rem;
    font-weight: 400;
    width: 100%;
  }

  .labelWrap {
    width: 100%;
    padding: 0 20px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;

    .formLabel {
      display: inline-block;
      font-size: 0.85rem;
      margin-bottom: 5px;
    }

    .checkboxRadio {
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;

      .inputRadio {
        margin-right: 8px;
      }
    }
  }

  .label {
    font-size: 0.85rem;
    margin-bottom: 5px;
  }

  .buttonWrap {
    position: relative;
    margin: 0 20px 0 20px;
    display: block;
    margin-left: 170px;

    button {
      margin-right: 0;
      float: right;
    }
  }
}
