.aboutUsWrapper {
  .content {
    p {
      padding-bottom: 2.5rem;
      line-height: 1.5rem;
      a {
        color: #4a90e2;
      }
    }
  }
  .sidebarContainer {
    :global .sidebarLinks {
      line-height: 120%;
      svg {
        padding-right: 10px;
        transition: transform 0.1s ease-in;
      }
      &:hover {
        svg {
          transform: translateX(3px);
        }
      }
    }
  }
}
