@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.wrapper {
  background-color: #000;
  padding: 30px 0;
  color: #f8f9fa !important;
  padding-bottom: 3rem !important;
  padding-top: 3rem !important;
}

.imageLogo {
  max-width: 8.5rem;
  display: inline-block;
  margin: 0;
}

.customLogo {
  width: 100%;
}

.hr {
  border: 0;
  border-top: 1px solid #fff;
  margin-bottom: 3rem;
  width: 50%;
  margin-top: 3rem;

  @include breakpoint(mobile) {
    margin-top: 1rem;
  }
}
