.wrapper {
  background: #f6f4f5;
  padding: 30px 0;
}

.cgnews {
  max-width: 180px;
  margin-bottom: 1rem;
}

.description {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 200;
  padding-right: 3rem;
  color: #97999a;
}

.image {
  max-width: 100%;
  height: auto;
}

.h3 {
  font-size: 0.875rem !important;
  letter-spacing: 0.055rem;
  line-height: 1.125rem;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
  font-weight: 400;
}

.textRight {
  text-align: right;
}

.a {
  text-decoration: none;
  font-size: 0.625rem;
  letter-spacing: 0.0625rem;
  line-height: 0.8125rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 0.0625rem solid transparent;
  font-weight: 300;
  color: #97999a;

  &:hover {
    color: #97999a;
    border-bottom: 0.0625rem solid #97999a;
    text-decoration: none;
  }
}

.icon {
  font-size: 0.9375rem;
  padding: 0 0.3125rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #343a40;
  display: block;
}

.footerSocial {
  ul {
    li {
      display: inline;
      text-align: center;
      position: relative;
      transition: all 0.3s ease-in;
      cursor: default;
      a {
        font-size: 0.9375rem;
        padding: 0 0.3125rem;
        transition: all 0.2s ease-in-out;
      }
      .tooltip {
        visibility: hidden;
        z-index: 1;
        opacity: 0;
        width: 120px;
        height: 120px;
        background: #fff;
        position: absolute;
        left: -30px;
        margin-left: -60px;
        border: 5px solid #000;
        border-radius: 3px;
        transform: translateY(-5px);
        transition: all 0.3s ease-in;
        top: -130px;
      }
      &:hover {
        a {
          transform: scale(1.2);
        }
        .tooltip {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
