@import '../../styles/variables.scss';

.authorProfile {
  .authorImage {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 0 10px;
    &::before {
      content: '';
      display: block;
      background: $cgBlue;
      background: $linear-light-blue;
      height: 8px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 0 0 0 10px;
    }
    img {
      width: 100% !important;
    }
  }
  &.isDetail {
    .authorName {
      background: $cgBlue;
      background: $linear-light-blue;
      img {
        margin-bottom: -80px;
      }
      ul {
        li {
          a {
            &:first-child {
              padding-left: 0;
            }
          }
        }
      }
      svg {
        color: #fff;
      }
    }
  }
}
