/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
  @if $point == xs {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $point == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @media (min-width: $point) {
      @content;
    }
  }
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridCenter {
  display: grid;
  justify-content: center;
  align-items: center;
}

:global {
  a {
    color: #000;
    cursor: pointer;
    text-decoration: none !important;
    &:hover {
      color: #000;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .wrapper {
    padding: 30px 0;
  }

  .cgRadius {
    border-radius: 0 10px;
  }

  .articleTitle {
    line-height: 140%;
    font-size: 1rem;
    font-weight: 600;
  }

  @for $i from 1 through 9 {
    .font0_#{$i} {
      font-size: #{$i / 10}rem;
    }
  }
  .font0_65 {
    font-size: 0.65rem;
  }
  .font0_75 {
    font-size: 0.75rem;
  }
  .font1_0 {
    font-size: 1rem;
  }
  .font1_50 {
    font-size: 1.5rem;
  }
  .font-md1_75 {
    @include breakpoint(md) {
      font-size: 1.75rem;
    }
  }

  @for $i from 3 through 7 {
    .fontWeight#{$i}00 {
      font-weight: $i * 100;
    }
  }
}
