/*
** common colors
*/
$white: #fff;
$light-blue: #4a90e2;
$text-body: #212529;
$light-gray: #f6f4f5;
$medium-gray: #a3a3a3;
$cgBlue: '#0074fc';
/*
** gradient colors
*/
$linear-white: linear-gradient(315deg, #e8efef 0, #fff 100%);
$linear-light-blue: linear-gradient(315deg, #00d2ff 0, #0074fc 100%);
$linear-blue: linear-gradient(315deg, #06427e 0, #0061bf 100%);
$linear-purple: linear-gradient(135deg, #575294 0, #1d1d1d 100%);
$linear-light-yellow: linear-gradient(45deg, #feb645 0, #eab300 100%);
$linear-light-yellow-hover: linear-gradient(45deg, #daa909 0, #ffc517 100%);
$linear-yellow: linear-gradient(135deg, #fac161 0, #f7961c 100%);
